##
#set($voPackage="${voPackage}")
#set($voClassName="${model.entity.pcName}VO")
#set($defaultVoClassName="${model.entity.pcName}DefaultVO")
#set($voInstanceName="${model.entity.ccName}VO")
#set($servicePackage="${servicePackage}")
#set($serviceClassName="${model.entity.pcName}Service")
#set($serviceName="${model.entity.ccName}Service")
#set($serviceInstanceName="${model.entity.ccName}Service")
#set($controllerPackage="${controllerPackage}")
#set($controllerClassName="${model.entity.pcName}Controller")
#set($controllerInstanceName="${model.entity.ccName}Controller")
##
##
#set($listInstanceName="${model.entity.ccName}List")
#set($insertMethodName="insert${model.entity.pcName}")
#set($updateMethodName="update${model.entity.pcName}")
#set($deleteMethodName="delete${model.entity.pcName}")
#set($selectMethodName="select${model.entity.pcName}")
#set($selectListMethodName="select${model.entity.pcName}List")
#set( $selectListJqGridMethodName = "select${model.entity.pcName}ListJqGrid" )
#set($selectListTotCntMethodName="select${model.entity.pcName}ListTotCnt")
##
#set( $jqGridMethodName = "jqGrid${model.entity.pcName}" )
##
##
#set($updateViewMethodName="update${model.entity.pcName}View")
#set($addMethodName="add${model.entity.pcName}")
#set($addViewMethodName="add${model.entity.pcName}View")
##
#set( $topLevelPath = "$model.topLevelPackage.replaceAll('\.', '/')" )
#set( $prefixPath = "/$topLevelPath/$model.middleLevelPackage" )
##
#set($listPath="$prefixPath/${model.entity.packageName}/select${model.entity.pcName}List.do")
#set($listPathRest="$prefixPath/${model.entity.packageName}/select${model.entity.pcName}List")
#set( $listJqGridPath = "$prefixPath/${model.entity.packageName}/select${model.entity.pcName}ListJqGrid.do" )
#set( $listJqGridPathRest = "$prefixPath/${model.entity.packageName}/select${model.entity.pcName}ListJqGrid" )
#set($addViewPath="$prefixPath/${model.entity.packageName}/add${model.entity.pcName}View.do")
#set($addViewPathRest="$prefixPath/${model.entity.packageName}/add${model.entity.pcName}View")
#set($addPath="$prefixPath/${model.entity.packageName}/add${model.entity.pcName}.do")
#set($addPathRest="$prefixPath/${model.entity.packageName}/add${model.entity.pcName}")
#set($selectPath="$prefixPath/${model.entity.packageName}/select${model.entity.pcName}.do")
#set($updatePath="$prefixPath/${model.entity.packageName}/update${model.entity.pcName}.do")
#set($updatePathRest="$prefixPath/${model.entity.packageName}/update${model.entity.pcName}")
#set($updateViewPath="$prefixPath/${model.entity.packageName}/update${model.entity.pcName}View.do")
#set($updateViewPathRest="$prefixPath/${model.entity.packageName}/update${model.entity.pcName}View")
#set($deletePath="$prefixPath/${model.entity.packageName}/delete${model.entity.pcName}.do")
#set($deletePathRest="$prefixPath/${model.entity.packageName}/delete${model.entity.pcName}")
##
#set( $jqGridPath = "$prefixPath/$model.entity.packageName/jqGrid${model.entity.pcName}.do")
#set( $jqGridPathRest = "$prefixPath/$model.entity.packageName/jqGrid${model.entity.pcName}")
##
#set( $prefixView = "$topLevelPath/$model.middleLevelPackage" )
##
#set($listView="$prefixView/${model.entity.packageName}/${model.entity.pcName}List")
#set($registerView="$prefixView/${model.entity.packageName}/${model.entity.pcName}Regist")
##
#set( $jqGridView = "$prefixView/$model.entity.packageName/${model.entity.pcName}JqGrid")
##
##
package ${controllerPackage};

import egovframework.rte.fdl.property.EgovPropertyService;
import egovframework.rte.psl.dataaccess.util.EgovMap;
import egovframework.rte.ptl.mvc.tags.ui.pagination.PaginationInfo;
#if (${servicePackage}=='${servicePackage}')
// Servoce 객체에 대한 import 구문
// import (service package).${serviceClassName};
#else
import ${servicePackage}.${serviceClassName};
#end
#if (${voPackage}=='${voPackage}')
// Vo 객체에 대한 import 구문
// import (vo package).${defaultVoClassName};
// import (vo package).${voClassName};
#else
##import ${voPackage}.${defaultVoClassName};
import ${voPackage}.${voClassName};
#end

import java.util.List;

import javax.annotation.Resource;

import org.springframework.stereotype.Controller;
import org.springframework.ui.Model;
import org.springframework.ui.ModelMap;
import org.springframework.web.bind.annotation.ModelAttribute;
import org.springframework.web.bind.annotation.RequestMapping;
##import org.springframework.web.bind.annotation.RequestParam;
##import org.springframework.web.bind.annotation.SessionAttributes;
##import org.springframework.web.bind.support.SessionStatus;

/**
 * @Class Name : ${controllerClassName}.java
 * @Description : ${model.entity.pcName} Controller class
 * @Modification Information
 *
 * @author ${author}
 * @since ${createDate}
 * @version 1.0
 * @see
 *  
 *  Copyright (C)  All right reserved.
 */

@Controller("${model.codeGenPackage.webPackage}.${controllerInstanceName}")
public class ${controllerClassName} {

	@Resource(name = "${model.codeGenPackage.serviceImplPackage}.${serviceName}")
	private ${serviceClassName} ${serviceInstanceName};

	@Resource(name = "propertiesService")
	protected EgovPropertyService egovPropertyService;

	/**
	 * ${model.entity.tableComments}(${model.entity.tableName}) 목록을 조회한다. (pageing)
	 * @param ${voInstanceName} - 조회할 정보가 담긴 ${voClassName}
	 * @return "${listView}"
	 * @exception Exception
	 */
	@RequestMapping(value = { "${listPath}", "${listPathRest}" })
	public String ${selectListMethodName}(${voClassName} ${voInstanceName}, ModelMap model) throws Exception {
		${voInstanceName}.setPageUnit(egovPropertyService.getInt("pageUnit"));
		${voInstanceName}.setPageSize(egovPropertyService.getInt("pageSize"));

		PaginationInfo paginationInfo = new PaginationInfo();
		paginationInfo.setCurrentPageNo(${voInstanceName}.getPageIndex());
		paginationInfo.setRecordCountPerPage(${voInstanceName}.getPageUnit());
		paginationInfo.setPageSize(${voInstanceName}.getPageSize());

		${voInstanceName}.setFirstIndex(paginationInfo.getFirstRecordIndex());
		${voInstanceName}.setLastIndex(paginationInfo.getLastRecordIndex());
		${voInstanceName}.setRecordCountPerPage(paginationInfo.getRecordCountPerPage());

		List<EgovMap> items = ${serviceInstanceName}.${selectListMethodName}(${voInstanceName});
		model.addAttribute("items", items);

		int totCnt = ${serviceInstanceName}.${selectListTotCntMethodName}(${voInstanceName});
		paginationInfo.setTotalRecordCount(totCnt);
		model.addAttribute("paginationInfo", paginationInfo);

		return "${listView}";
	}

	/**
	 * ${model.entity.tableComments}(${model.entity.tableName}) 목록을 조회한다. (pageing) jqGrid
	 * @param ${voInstanceName} - 조회할 정보가 담긴 ${voClassName}
	 * @return "${listView}"
	 * @exception Exception
	 */
	@RequestMapping(value = { "${listJqGridPath}", "${listJqGridPathRest}" })
	public String ${selectListJqGridMethodName}(${voClassName} ${voInstanceName}, ModelMap model) throws Exception {
		${voInstanceName}.setPageUnit(${voInstanceName}.getRows());
		${voInstanceName}.setPageSize(egovPropertyService.getInt("pageSize"));

		PaginationInfo paginationInfo = new PaginationInfo();
		paginationInfo.setCurrentPageNo(${voInstanceName}.getPage());
		paginationInfo.setRecordCountPerPage(${voInstanceName}.getPageUnit());
		paginationInfo.setPageSize(${voInstanceName}.getPageSize());

		${voInstanceName}.setFirstIndex(paginationInfo.getFirstRecordIndex());
		${voInstanceName}.setLastIndex(paginationInfo.getLastRecordIndex());
		${voInstanceName}.setRecordCountPerPage(paginationInfo.getRecordCountPerPage());

		List<EgovMap> rows = ${serviceInstanceName}.${selectListMethodName}(${voInstanceName});

		int records = ${serviceInstanceName}.${selectListTotCntMethodName}(${voInstanceName});
		paginationInfo.setTotalRecordCount(records);

		// jqGrid jsonReader
		model.addAttribute("rows", rows);
		model.addAttribute("page", paginationInfo.getCurrentPageNo());
		model.addAttribute("total", paginationInfo.getTotalPageCount());
		model.addAttribute("records", paginationInfo.getTotalRecordCount());
		//		model.addAttribute("repeatitems", "");
		//		model.addAttribute("cell", "");
		//		model.addAttribute("id", "");
		//		model.addAttribute("userdata", "");
		//		model.addAttribute("subgrid", "");

		return "${listView}";
	}

	@RequestMapping(value = { "${addViewPath}", "${addViewPathRest}" })
	public String ${addViewMethodName}(@ModelAttribute("searchVO") ${voClassName} ${voInstanceName}, Model model) throws Exception {
		model.addAttribute("$voInstanceName", new ${voClassName}());
		return "${registerView}";
	}

	@RequestMapping(value = { "${addPath}", "${addPathRest}" })
	public String ${addMethodName}(${voClassName} ${voInstanceName}) throws Exception {
		${serviceInstanceName}.${insertMethodName}(${voInstanceName});
		return "redirect:${listPath}";
	}

	@RequestMapping(value = { "${updateViewPath}", "${updateViewPathRest}" })
	public String ${updateViewMethodName}(@ModelAttribute("searchVO") ${voClassName} ${voInstanceName}, Model model) throws Exception {
		model.addAttribute("$voInstanceName", ${serviceInstanceName}.${selectMethodName}(${voInstanceName}));
		return "${registerView}";
	}

	@RequestMapping(value = { "${updatePath}", "${updatePathRest}" })
	public String ${updateMethodName}(${voClassName} ${voInstanceName}) throws Exception {
		${serviceInstanceName}.${updateMethodName}(${voInstanceName});
		return "redirect:${listPath}";
	}

	@RequestMapping(value = { "${deletePath}", "${deletePathRest}" })
	public String ${deleteMethodName}(${voClassName} ${voInstanceName}) throws Exception {
		${serviceInstanceName}.${deleteMethodName}(${voInstanceName});
		return "redirect:${listPath}";
	}

	@RequestMapping(value = { "${jqGridPath}", "${jqGridPathRest}" })
	public String $jqGridMethodName(${voClassName} ${voInstanceName}) throws Exception {
		return "$jqGridView";
	}

}
