##
#set($voPackage="${voPackage}")
#set($voClassName="${model.entity.pcName}VO")
#set($defaultVoClassName="${model.entity.pcName}DefaultVO")
#set($searchVOAlias="${model.entity.ccName}SerarchVO")
#set($daoPackage="${daoPackage}")
#set($daoClassName="${model.entity.pcName}DAO")
#set($daoName="${model.entity.ccName}DAO")
#set($daoInstanceName="${model.entity.ccName}DAO")
##
##
#set($vender="$model.vender")
#set($namespace="$model.entity.pcName")
#set($resultMapId="${model.entity.ccName}")
#set($resultMapClass="${voPackage}.${voClassName}")
##
##
#set($insertQueryId="${daoInstanceName}.insert${model.entity.pcName}_S")
#set($updateQueryId="${daoInstanceName}.update${model.entity.pcName}_S")
#set($deleteQueryId="${daoInstanceName}.delete${model.entity.pcName}_S")
#set($selectQueryId="${daoInstanceName}.select${model.entity.pcName}_S")
#set($selectListQueryId="${daoInstanceName}.select${model.entity.pcName}List_D")
#set($selectListTotCntQueryId="${daoInstanceName}.select${model.entity.pcName}ListTotCnt_S")
##
##
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMapConfig PUBLIC "-//iBATIS.com//DTD SQL Map Config 2.0//EN"
    "http://www.ibatis.com/dtd/sql-map-config-2.dtd">

<sqlMapConfig>

#foreach($sqlMap in $model.sqlMaps)
	<sqlMap resource="${sqlMap}" />
#end

</sqlMapConfig>
