table {
	width: 100%;
	border-collapse: collapse;
}

table,th,td {
	border: 1px solid black;
}

/* 목록 시작 */
div.godsoft-com-list {
	background-color: red;
}

div.godsoft-com-list table.list {
	background-color: orange;
}

div.godsoft-com-list div.pagination {
	background-color: yellow;
}

div.godsoft-com-list ul.button {
	background-color: green;
}

/* 목록 끝 */