##
#set($voPackage="${voPackage}")
#set($voClassName="${model.entity.pcName}VO")
#set($voInstanceName="${model.entity.ccName}VO")
#set($defaultVoClassName="${model.entity.pcName}DefaultVO")
#set($daoPackage="${daoPackage}")
#set($daoClassName="${model.entity.pcName}DAOTest")
#set($daoName="${model.entity.pcName}DAO")
#set($daoInstanceName="${model.entity.ccName}DAO")
##
##
#set($insertMethodName="insert${model.entity.pcName}")
#set($updateMethodName="update${model.entity.pcName}")
#set($deleteMethodName="delete${model.entity.pcName}")
#set($selectMethodName="select${model.entity.pcName}")
#set($selectListMethodName="select${model.entity.pcName}List")
#set($selectListTotCntMethodName="select${model.entity.pcName}ListTotCnt")
##
##
#set($insertQueryId="${daoInstanceName}.insert${model.entity.pcName}_S")
#set($updateQueryId="${daoInstanceName}.update${model.entity.pcName}_S")
#set($deleteQueryId="${daoInstanceName}.delete${model.entity.pcName}_S")
#set($selectQueryId="${daoInstanceName}.select${model.entity.pcName}_S")
#set($selectListQueryId="${daoInstanceName}.select${model.entity.pcName}List_D")
#set($selectListTotCntQueryId="${daoInstanceName}.select${model.entity.pcName}ListTotCnt_S")
##
##
package ${daoPackage};

import ${voPackage}.${voClassName};

import javax.annotation.Resource;

import org.junit.Test;
import org.junit.runner.RunWith;
import org.springframework.test.context.ContextConfiguration;
import org.springframework.test.context.junit4.SpringJUnit4ClassRunner;
import org.springframework.test.context.transaction.TransactionConfiguration;
import org.springframework.transaction.annotation.Transactional;

/**
 * ${model.entity.tableComments} DAOTest
 *
 * @Class Name : ${daoClassName}.java
 * @Description : ${model.entity.pcName} DAOTest Class
 * @Modification Information
 *
 * @author ${author}
 * @since ${createDate}
 * @version 1.0
 * @see
 *
 *  Copyright (C)  All right reserved.
 */

@RunWith(SpringJUnit4ClassRunner.class)
@ContextConfiguration(locations = { "classpath:test-context.xml" })
@TransactionConfiguration(transactionManager = "txManager", defaultRollback = true)
@Transactional
public class ${daoClassName} {

	@Resource(name = "${daoInstanceName}")
	private ${daoName} ${daoInstanceName};

	@Test
	public void test() throws Exception {
		${insertMethodName}();
		${updateMethodName}();
		${deleteMethodName}();
		${selectMethodName}();
		${selectListMethodName}();
		${selectListTotCntMethodName}();
	}

##	@Test
	public void ${insertMethodName}() throws Exception {
		${voClassName} ${voInstanceName} = new ${voClassName}();
#foreach($attribute in $model.attributes)
#if(${attribute.javaType} == "int")
		${voInstanceName}.set${attribute.pcName}(0);
#else
		${voInstanceName}.set${attribute.pcName}("${attribute.columnComments}");
#end
#end

		${daoInstanceName}.${insertMethodName}(${voInstanceName});
	}

##	@Test
	public void ${updateMethodName}() throws Exception {
		${voClassName} ${voInstanceName} = new ${voClassName}();
#foreach($attribute in $model.attributes)
#if(${attribute.isPrimaryKey} == false)
#if(${attribute.javaType} == "int")
		${voInstanceName}.set${attribute.pcName}(0);
#else
		${voInstanceName}.set${attribute.pcName}("${attribute.columnComments}");
#end
#end
#end

#foreach($attribute in $model.primaryKeys)
#if(${attribute.javaType} == "int")
		${voInstanceName}.set${attribute.pcName}(0);
#else
		${voInstanceName}.set${attribute.pcName}("${attribute.columnComments}");
#end
#end

		${daoInstanceName}.${updateMethodName}(${voInstanceName});
	}

##	@Test
	public void ${deleteMethodName}() throws Exception {
		${voClassName} ${voInstanceName} = new ${voClassName}();
#foreach($attribute in $model.primaryKeys)
#if(${attribute.javaType} == "int")
		${voInstanceName}.set${attribute.pcName}(0);
#else
		${voInstanceName}.set${attribute.pcName}("${attribute.columnComments}");
#end
#end

		${daoInstanceName}.${deleteMethodName}(${voInstanceName});
	}

##	@Test
	public void ${selectMethodName}() throws Exception {
		${voClassName} ${voInstanceName} = new ${voClassName}();
#foreach($attribute in $model.primaryKeys)
#if(${attribute.javaType} == "int")
		${voInstanceName}.set${attribute.pcName}(0);
#else
		${voInstanceName}.set${attribute.pcName}("${attribute.columnComments}");
#end
#end

		${daoInstanceName}.${selectMethodName}(${voInstanceName});
	}

##	@Test
	public void ${selectListMethodName}() throws Exception {
		${voClassName} ${voInstanceName} = new ${voClassName}();
		${voInstanceName}.setFirstIndex(0);
		${voInstanceName}.setRecordCountPerPage(10);

		${daoInstanceName}.${selectListMethodName}(${voInstanceName});
	}

##	@Test
	public void ${selectListTotCntMethodName}() throws Exception {
		${voClassName} ${voInstanceName} = new ${voClassName}();

		${daoInstanceName}.${selectListTotCntMethodName}(${voInstanceName});
	}

}
