##
#set($voPackage="${voPackage}")
#set($voClassName="${model.entity.pcName}VO")
#set($voInstanceName="${model.entity.ccName}VO")
#set($defaultVoClassName="${model.entity.pcName}DefaultVO")
#set($daoPackage="${daoPackage}")
#set($daoClassName="${model.entity.pcName}DAO")
#set($daoName="${model.entity.ccName}DAO")
#set($daoInstanceName="${model.entity.ccName}DAO")
##
##
#set($insertMethodName="insert${model.entity.pcName}")
#set($updateMethodName="update${model.entity.pcName}")
#set($deleteMethodName="delete${model.entity.pcName}")
#set($selectMethodName="select${model.entity.pcName}")
#set($selectListMethodName="select${model.entity.pcName}List")
#set($selectListTotCntMethodName="select${model.entity.pcName}ListTotCnt")
##
##
#set($insertQueryId="${daoInstanceName}.insert${model.entity.pcName}")
#set($updateQueryId="${daoInstanceName}.update${model.entity.pcName}")
#set($deleteQueryId="${daoInstanceName}.delete${model.entity.pcName}")
#set($selectQueryId="${daoInstanceName}.select${model.entity.pcName}")
#set($selectListQueryId="${daoInstanceName}.select${model.entity.pcName}List")
#set($selectListTotCntQueryId="${daoInstanceName}.select${model.entity.pcName}ListTotCnt")
##
##
package ${daoPackage};

import java.util.List;

import org.springframework.stereotype.Repository;

##import egovframework.rte.psl.dataaccess.EgovAbstractDAO;
import egovframework.com.cmm.service.impl.EgovComAbstractDAO;
import egovframework.rte.psl.dataaccess.util.EgovMap;
import ${voPackage}.${voClassName};
##import ${voPackage}.${defaultVoClassName};

/**
 * ${model.entity.tableComments} DAO
 *
 * @Class Name : ${daoClassName}.java
 * @Description : ${model.entity.pcName} DAO Class
 * @Modification Information
 *
 * @author ${author}
 * @since ${createDate}
 * @version 1.0
 * @see
 *
 *  Copyright (C)  All right reserved.
 */

@Repository("${daoName}")
##public class ${daoClassName} extends EgovAbstractDAO {
public class ${daoClassName} extends EgovComAbstractDAO {

	/**
	 * ${model.entity.tableComments}을 등록한다.
	 * @param ${voInstanceName} - 등록할 정보가 담긴 ${voClassName}
	 * @return 등록 결과
	 * @exception Exception
	 */
	public String ${insertMethodName}(${voClassName} ${voInstanceName}) throws Exception {
		return (String) insert("${insertQueryId}", ${voInstanceName});
	}

	/**
	 * ${model.entity.tableComments}을 수정한다.
	 * @param ${voInstanceName} - 수정할 정보가 담긴 ${voClassName}
	 * @return void형
	 * @exception Exception
	 */
	public int ${updateMethodName}(${voClassName} ${voInstanceName}) throws Exception {
		return (Integer) update("${updateQueryId}", ${voInstanceName});
	}

	/**
	 * ${model.entity.tableComments}을 삭제한다.
	 * @param ${voInstanceName} - 삭제할 정보가 담긴 ${voClassName}
	 * @return void형
	 * @exception Exception
	 */
	public int ${deleteMethodName}(${voClassName} ${voInstanceName}) throws Exception {
		return (Integer) delete("${deleteQueryId}", ${voInstanceName});
	}

	/**
	 * ${model.entity.tableComments}을 조회한다.
	 * @param ${voInstanceName} - 조회할 정보가 담긴 ${voClassName}
	 * @return 조회한 ${model.entity.name}
	 * @exception Exception
	 */
	public ${voClassName} ${selectMethodName}(${voClassName} ${voInstanceName}) throws Exception {
		return (${voClassName}) selectByPk("${selectQueryId}", ${voInstanceName});
	}

	/**
	 * ${model.entity.tableComments} 목록을 조회한다.
	 * @param searchMap - 조회할 정보가 담긴 Map
	 * @return ${model.entity.name} 목록
	 * @exception Exception
	 */
	@SuppressWarnings("unchecked")
	public List<EgovMap> ${selectListMethodName}(${voClassName} ${voInstanceName}) throws Exception {
		return list("${selectListQueryId}", ${voInstanceName});
	}

	/**
	 * ${model.entity.tableComments} 총 갯수를 조회한다.
	 * @param searchMap - 조회할 정보가 담긴 Map
	 * @return ${model.entity.name} 총 갯수
	 * @exception
	 */
	public int ${selectListTotCntMethodName}(${voClassName} ${voInstanceName}) {
		return (Integer) selectByPk("${selectListTotCntQueryId}", ${voInstanceName});
	}

}
