##
#set($voPackage="${voPackage}")
#set($voClassName="${model.entity.pcName}VO")
#set($voInstanceName="${model.entity.ccName}VO")
#set($defaultVoClassName="${model.entity.pcName}DefaultVO")
#set($daoPackage="${daoPackage}")
#set($daoClassName="${model.entity.pcName}DAO")
#set($daoName="${model.entity.ccName}DAO")
#set($daoInstanceName="${model.entity.ccName}DAO")
#set($servicePackage="${servicePackage}")
#set($serviceClassName="${model.entity.pcName}Service")
#set($serviceImplPackage="${implPackage}")
#set($serviceImplClassName="${model.entity.pcName}ServiceImpl")
#set($serviceImplTestClassName="${model.entity.pcName}ServiceImplTest")
#set($serviceName="${model.entity.ccName}Service")
##
##
#set($insertMethodName="insert${model.entity.pcName}")
#set($updateMethodName="update${model.entity.pcName}")
#set($deleteMethodName="delete${model.entity.pcName}")
#set($selectMethodName="select${model.entity.pcName}")
#set($selectListMethodName="select${model.entity.pcName}List")
#set($selectListTotCntMethodName="select${model.entity.pcName}ListTotCnt")
#set($idGnrService="egov${model.entity.pcName}IdGnrService")
##
##
package ${serviceImplPackage};

import ${servicePackage}.${serviceClassName};
import ${voPackage}.${voClassName};
##
##import java.util.List;

import javax.annotation.Resource;

import org.junit.Test;
import org.junit.runner.RunWith;
import org.springframework.test.context.ContextConfiguration;
import org.springframework.test.context.junit4.SpringJUnit4ClassRunner;
import org.springframework.test.context.transaction.TransactionConfiguration;
import org.springframework.transaction.annotation.Transactional;
##
##import egovframework.rte.psl.dataaccess.util.EgovMap;

/**
 * ${model.entity.tableComments} ServiceImplTest
 *
 * @Class Name : ${serviceImplClassName}.java
 * @Description : ${model.entity.pcName} Business Implement class
 * @Modification Information
 *
 * @author ${author}
 * @since ${createDate}
 * @version 1.0
 * @see
 *
 *  Copyright (C)  All right reserved.
 */

@RunWith(SpringJUnit4ClassRunner.class)
@ContextConfiguration(locations = { "classpath:test-context.xml" })
@TransactionConfiguration(transactionManager = "txManager", defaultRollback = false)
@Transactional
public class ${serviceImplTestClassName} {

	@Resource(name = "${serviceName}")
	private ${serviceClassName} ${serviceName};

	@Test
	public void test() throws Exception {
		${insertMethodName}();
		${updateMethodName}();
		${deleteMethodName}();
		${selectMethodName}();
		${selectListMethodName}();
		${selectListTotCntMethodName}();
	}

##	@Test
	public void ${insertMethodName}() throws Exception {
		${voClassName} ${voInstanceName} = new ${voClassName}();
#foreach($attribute in $model.attributes)
#if(${attribute.javaType} == "int")
		${voInstanceName}.set${attribute.pcName}(0);
#else
		${voInstanceName}.set${attribute.pcName}("${attribute.columnComments}");
#end
#end

		${serviceName}.${insertMethodName}(${voInstanceName});
	}

##	@Test
	public void ${updateMethodName}() throws Exception {
		${voClassName} ${voInstanceName} = new ${voClassName}();
#foreach($attribute in $model.attributes)
#if(${attribute.isPrimaryKey} == false)
#if(${attribute.javaType} == "int")
		${voInstanceName}.set${attribute.pcName}(0);
#else
		${voInstanceName}.set${attribute.pcName}("${attribute.columnComments}");
#end
#end
#end

#foreach($attribute in $model.primaryKeys)
#if(${attribute.javaType} == "int")
		${voInstanceName}.set${attribute.pcName}(0);
#else
		${voInstanceName}.set${attribute.pcName}("${attribute.columnComments}");
#end
#end

		${serviceName}.${updateMethodName}(${voInstanceName});
	}

##	@Test
	public void ${deleteMethodName}() throws Exception {
		${voClassName} ${voInstanceName} = new ${voClassName}();
#foreach($attribute in $model.primaryKeys)
#if(${attribute.javaType} == "int")
		${voInstanceName}.set${attribute.pcName}(0);
#else
		${voInstanceName}.set${attribute.pcName}("${attribute.columnComments}");
#end
#end

		${serviceName}.${deleteMethodName}(${voInstanceName});
	}

##	@Test
	public void ${selectMethodName}() throws Exception {
		${voClassName} ${voInstanceName} = new ${voClassName}();
#foreach($attribute in $model.primaryKeys)
#if(${attribute.javaType} == "int")
		${voInstanceName}.set${attribute.pcName}(0);
#else
		${voInstanceName}.set${attribute.pcName}("${attribute.columnComments}");
#end
#end

		${serviceName}.${selectMethodName}(${voInstanceName});
	}

##	@Test
	public void ${selectListMethodName}() throws Exception {
		${voClassName} ${voInstanceName} = new ${voClassName}();
		${voInstanceName}.setFirstIndex(0);
		${voInstanceName}.setRecordCountPerPage(10);

		${serviceName}.${selectListMethodName}(${voInstanceName});
	}

##	@Test
	public void ${selectListTotCntMethodName}() throws Exception {
		${voClassName} ${voInstanceName} = new ${voClassName}();

		${serviceName}.${selectListTotCntMethodName}(${voInstanceName});
	}

}
